# Python
.venv
venv
__pycache__/

# PyInstaller output
lemmatization/build/
lemmatization/dist/
lemmatization/*.spec
lemmatization/stanza_resources/

#Unreal
Build/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.vsconfig
*.htm
FBX_Imports/

UEProject/
Common/
Body/
Face/
FemaleHair/
MaleHair/
MaleHair_pfn/
Materials/
Previews/
SourceAssets/
VersionInfo.txt
VaultCache/

# Other files
films
lemmatization/verification/tsv_clean.py
lemmatization/verification/pol_sentences.tsv

.idea/
